/* RESET */
a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      a,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;
        font-family: 'SF Pro';
        scroll-behavior: smooth;
        list-style: none;
        color: inherit;
}


/* ROOT */
:root {
    --primary-blue: #0099ff;
    --primary-blue-dark: #033e66;
    --secondary-blue: #48abe0;
    --secondary-blue-dark: #033552b4;
    --clr-grey: #B0B0B0;
    --clr-black: #000000;
    --clr-white: #ffffff;
  
    --fs-1: 1rem;
    --fs-2: 1.25rem;
    --fs-3: 1.5rem;
    --fs-4: 1.75rem;
    --fs-5: 2rem;
    --fs-max: 3.125rem;
  
    --fw-1: 300;
    --fw-2: 500;
    --fw-3: 700;
    --fw-4: 900;
}


/* FONTS */
@font-face {
    font-family: 'SF Pro';
    src: url('../assets/fonts/sfpro.woff2') format('woff2'),
      url('../assets/fonts/sfpro.woff') format('woff');
    font-display: swap;
}


/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-track {
    background: rgba(0, 6, 8, 0);
    border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgba(255,255,255,0) 10%, rgba(2,42,69,0.96) 50%, rgba(2,42,69,1) 40%, rgba(237,237,237,0) 90%);;
    border-radius: 0.3rem;

}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, rgba(255,255,255,0) 10%, rgba(0, 75, 126, 0.96) 50%, rgb(0, 77, 128) 40%, rgba(237,237,237,0) 90%);;
}

@keyframes anim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}


/* LOADING */
.loading {
    animation: anim 2s ease 50 normal forwards;
    justify-content: center;
    display: flex;
    margin-top: 20%;
    position: absolute;
}